
<div class="fixed-top">
   
      <%= link_to root_path, class: 'btn btn-link text-white' do %>
      <%= image_tag image_path('bookarley.png'), alt: 'Bookarley Logo', height: 40, width: 40 %>
      <span class="ml-2" style="font-weight: bold; color: orange; font-size: 1.5rem;">Bookarley</span>
    <% end %>

    <!-- Sidebar/Menu -->
    <nav class="navbar navbar-expand-md navbar-light ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="sidebar">
        <ul class="navbar-nav flex-column">
          <!-- Dashboard button with dropdown -->
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link', data: { toggle: 'collapse', target: '#dashboardDropdown' } do %>
              <i class="fas fa-tachometer-alt mr-2"></i>Dashboards
            <% end %>
            <div class="collapse" id="dashboardDropdown">
              <ul class="list-unstyled">
                <li><%= link_to 'Dashboard 1', '#', class: 'nav-link' %></li>
                <li><%= link_to 'Dashboard 2', '#', class: 'nav-link' %></li>
              </ul>
            </div>
          </li>

          <!-- Layouts button with dropdown -->
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link', data: { toggle: 'collapse', target: '#layoutsDropdown' } do %>
              <i class="fas fa-th-large mr-2"></i>Layouts
            <% end %>
            <div class="collapse" id="layoutsDropdown">
              <ul class="list-unstyled">
                <li><%= link_to 'Layout 1', '#', class: 'nav-link' %></li>
                <li><%= link_to 'Layout 2', '#', class: 'nav-link' %></li>
              </ul>
            </div>
          </li>

          <!-- Front Pages button with dropdown -->
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link', data: { toggle: 'collapse', target: '#frontPagesDropdown' } do %>
              <i class="far fa-file-alt mr-2"></i>Front Pages
            <% end %>
            <div class="collapse" id="frontPagesDropdown">
              <ul class="list-unstyled">
                <li><%= link_to 'Page 1', '#', class: 'nav-link' %></li>
                <li><%= link_to 'Page 2', '#', class: 'nav-link' %></li>
              </ul>
            </div>
          </li>
          
        </ul>
        
      </div>
     
    </nav>
  
    
    <h6 class="text-grey mt-3 mb-2 ml-2">APPS & PAGES</h6>
    <%= button_to '#', { class: 'btn btn-large mr-2', style: 'color: grey;', method: :get } do %>
      <i class="far fa-envelope"></i> Email
    <% end %>

    <%= button_to '#',  { class: 'btn btn-large mr-2', style: 'color: grey;', method: :get } do %>
      <i class="far fa-comments"></i> Chat
    <% end %>
    <%= button_to '#', class: 'btn btn-large', style: 'color: grey;', method: :get do %>
      <i class="far fa-calendar"></i> Calendar
    <% end %>

    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="sidebar">
        <ul class="navbar-nav flex-column">
          <!-- Account button with dropdown -->
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link', data: { toggle: 'collapse', target: '#accountSettingsDropdown' } do %>
              <i class="fas fa-cogs  mr-2"></i>Account Setting
            <% end %>
            <div class="collapse" id="accountSettingsDropdown">
              <ul class="list-unstyled">
                <li><%= link_to 'Account 1', '#', class: 'nav-link' %></li>
                <li><%= link_to 'Account 2', '#', class: 'nav-link' %></li>
              </ul>
            </div>
          </li>

          <!-- Layouts button with dropdown -->
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link', data: { toggle: 'collapse', target: '#authenticationDropdown' } do %>
              <i class="fas fa-lock mr-2"></i>Authentication
            <% end %>
            <div class="collapse" id="authenticationDropdown">
              <ul class="list-unstyled">
                <li><%= link_to 'Page 1', '#', class: 'nav-link' %></li>
                <li><%= link_to 'Page 2', '#', class: 'nav-link' %></li>
              </ul>
            </div>
          </li>

          <!-- Front Pages button with dropdown -->
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link', data: { toggle: 'collapse', target: '#miscDropdown' } do %>
              <i class="far fa-file-alt mr-2"></i>Misc
            <% end %>
            <div class="collapse" id="miscDropdown">
              <ul class="list-unstyled">
                <li><%= link_to 'Page 1', '#', class: 'nav-link' %></li>
                <li><%= link_to 'Page 2', '#', class: 'nav-link' %></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
 

</div>